{% extends "base.html" %}
{% load auth_extras %}

{% block banner %}
{% endblock %}

{% block content %}
	<a href="{% url 'courses' 1 %}" class="left"><< Lista kursów</a>
	<br>
	<div class="left-align">
		<h4>{{ course.name }}</h4>
		<div class="options right">
            <a href="{% url 'add_instr' course.id %}" class="btn z-depth-0">Dodaj prowadzącego</a>
			<a href="{% url 'edit_course' course.id %}" class="btn z-depth-0">Edytuj Kurs</a>
			<a href="{% url 'quit_course' course.id %}" class="btn z-depth-0">Zrezygnuj z kursu</a>
			<a href="{% url 'addclass' %}" class="btn z-depth-0">Dodaj zajęcia</a>
		</div>
		<div class="details">
			Prowadzący: {% for instructor in course.instructor_set.all %}
				{{ instructor.user_id.first_name }}
				{{ instructor.user_id.last_name }}
			{% endfor %}<br>
			{{ course.description }}
		</div>

		<div class="break"></div>

		{% if course.class_set.all %}
			<ul class="collection">
			{% for class in course.class_set.all %}
				<li class="collection-item truncate">
					<a href="{% url 'class' class.id %}">{{ class.name }}</a>
					<span class="grey-text text-lighten-1">&#8195{{ class.description }} </span>
				</li>
			{% endfor %}
			</ul>
		{% else %}
			Brak zajęć.
		{% endif %}

		<div class="break"></div>
		{% if perms.dbhandler.add_class %}
		<a href="{% url 'addclass' %}" class="btn">Dodaj zajęcia</a>
		{% endif %}
	</div>
{% endblock %}
